.atsaukmes{

padding: 5rem 15%;

}


.atsakmesForm{

width: 100%;
background: var(--black);
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
box-shadow: 0 0 1.5rem rgba(0, 0, 0, 30%);
border-radius: 2rem;

}

.atsakmesForm h1{

background: var(--secondcolor);
padding: 2rem 2rem;
color: var(--texcolor);
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 1rem;

}


.atsakmesForm form{

margin-top: 4rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 50%;

}

.stars{

font-size: 2rem;

}

.stars i{

cursor: pointer;    

}

.stars i.active{

color: #ebb400;

}


.textarea-long{

position: relative;
height: 100%;
width: 100%;
margin-top: 3rem;
margin-bottom: 2rem;

}


.atsakmesForm form textarea{

width: 100%;
height: 20rem;
padding: 1rem;
background: var(--maincolor);
resize: none;
color: var(--white);
border-radius: 1rem;
box-shadow: 0 0 1.5rem rgba(0, 0, 0, 30%);

}

.long{

position: absolute;
bottom: 5%;
right: 3%;
color: var(--white);

} 


.atbtn{

margin-bottom: 4rem

}


.atbtn span{

font-size: 1.5rem;

}