.atsaukmes{

padding: 1rem 15%;

}

.atsaukmes h1{

font-size: 1.5rem;
display: flex;
align-items: center;
margin-bottom: 3rem;

}

.atsaukmes h1 i{

font-size: 2rem;
color: var(--secondcolor);
margin-right: .5rem;

}


.atsakmesForm{

width: 100%;
background: var(--black);
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
box-shadow: 0 0 1.5rem rgba(0, 0, 0, 20%);
border-radius: 1rem;

}

.atsakmesForm h1{

background: var(--secondcolor);
padding: 2rem 2rem;
color: var(--texcolor);
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 1rem;

}


.atsakmesForm form{

margin-top: 4rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 90%;

}

.stars{

font-size: 2rem;

}

.stars i{

cursor: pointer;    

}

.stars i.active{

color: var(--secondcolor);

}


.textarea-long{

position: relative;
height: 100%;
width: 100%;
margin-top: 3rem;
margin-bottom: 2rem;

}


.atsakmesForm form textarea{

width: 100%;
height: 15rem;
padding: 1rem;
background: var(--maincolor-2);
resize: none;
color: var(--white);
border-radius: 1rem;
box-shadow: 0 0 1rem rgba(0, 0, 0, 10%);
font-size: 1rem;

}

.long{

position: absolute;
bottom: 5%;
right: 3%;
color: var(--white);

} 

.atbtn{

background: var(--secondcolor);
font-size: 1.2rem ;
padding: .8rem;
border-radius: .5rem;
color: var(--textcolor-2);
margin-bottom: 3rem;
cursor: pointer;

}


.atbtn:hover{

background: var(--hover);

}

.atbtn i{

margin-right: .5rem;

}