@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{

padding: 0%;
margin: 0%;
box-sizing: border-box;
font-family: "Raleway", sans-serif;
text-decoration: none;
border: none;
outline: none;
transition: .2s linear;
letter-spacing: .1rem;

}


:root{

--maincolor: #f9f9f9;
--maincolor-2: #e4e4e4;
--textcolor: #000;
--textcolor-2: #f9f9f9;
--secondcolor: #0068d6;
--hover:  #0152a7;
--hover-2:  #649bd5;
--hover-3:  #acbfd3;
--gray: #999;
--shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 30%);

}

body{

background: var(--maincolor-2);

}

header{

padding: 1.5rem 12%;
display: flex;
justify-content: space-between;
align-items: center;
background: var(--maincolor);
width: 100%;
box-shadow: 0 0 1.5rem rgba(0, 0, 0, 20%);
margin-bottom: 2rem;

}

.logo a{

font-size: 1.6rem;
color: var(--textcolor);
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;

}

.logo a i{

font-size: 2rem;
color: var(--secondcolor);
margin-right: .5rem;

}

.navmenu{

display: flex;
justify-content: center;
align-items: center;

}

.navmenu a{

color: var(--gray);
margin: 0 1rem;
display: flex;
justify-content: center;
align-items: center;

}

.navmenu a i{

font-size: 1.2rem;
margin-right: .5rem;

}


.navmenu a:hover{

color: var(--secondcolor);

}

#OpenLogReg{

background: var(--secondcolor);
font-size: 1rem;
padding: .8rem;
border-radius: .5rem;
cursor: pointer;
color: var(--textcolor-2);
margin: 0 1rem;

}

#OpenLogReg i{

margin-right: .5rem;

}

#OpenLogReg:hover{

background: var(--hover);

}

.profset{

position: relative;

}

.proimage{

width: 3rem;
height: 3rem;
border: var(--secondcolor) solid .15rem;
border-radius: 50%;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;

}

.proimage img{

width: 100%;
height: 100%;
object-fit: cover;

}

.profmenu{

position: absolute;
top: 11rem;
left: 50%;
width: auto;
height: auto;
background: var(--maincolor);
transform: translate(-50%, -50%);
box-shadow: 0 0 10px #000;
z-index: 3;
display: none;
justify-content: center;
align-items: center;
flex-direction: column;
z-index: 2;
border-radius: 1rem;
overflow: hidden;

}

.profmenu.active{

display: flex;

}

.profmenu a, .profmenu button{

width: 100%;
text-align: center;
padding: .8rem 1rem;
display: flex;
justify-content: center;
align-items: center;
background: var(--maincolor);
cursor: pointer;
font-size: 1rem;

}

.profmenu button{

color: var(--textcolor);

}

.profmenu button i{

color: var(--secondcolor);
margin-right: .3rem

}

.profmenu a{

color: red;
font-weight: normal;
margin: 0;

}

.profmenu a i{

color: red;

}

.profmenu button:hover{

background: var(--hover-3);
color: var(--textcolor-2);

}

.profmenu button:hover #spin{

animation: spin 1s ease-out forwards;

}

.profmenu button:hover #rotate-spin{

animation: rotate-spin 1s ease-out forwards;

}

#logout:hover{

background: rgba(255, 0, 0, 30%);
color: red;

}

footer{

display: flex;
justify-content: center;
align-items: center;
background: var(--maincolor);
color: var(--textcolor);
padding: 3rem 15%;

}

.footerbox{

display: flex;
justify-content: center;
align-items: center;

}

.footerbox .box{

text-align: center;
margin: 4rem;

}

/* ---------------------------------------modal */

.logmodal{

background: rgba(0, 0, 0, 60%);
backdrop-filter: blur(5px);
width: 100%;
height: 100%;
z-index: 3;
position: fixed;
top: 0;
right: 0;
display: none;

}

.logmodal.active{

display: block;

}


.log-reg{

width: 30rem;
height: auto;
background: var(--maincolor);
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border: var(--pink) .3rem solid;
display: flex;
align-items: center;
flex-direction: column;
position: relative;
border-radius: 1rem;
padding: 0 5rem;
z-index: 4;

}

.closemodal, .close-ml{

color: var(--textcolor);
position: absolute;
font-size: 1.5rem;
top: 1rem;
right: 1rem;
cursor: pointer;
color: red;

}


.reg-log-btn{

display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: auto;
background: var(--maincolor-2);
margin-top: 4rem;
padding: .3rem;
border-radius: .5rem;

}

.reg-log-btn button{

padding: .8rem 1.2rem;
background: rgba(0, 0, 0, 0%);
cursor: pointer;
font-size: 1rem;
color: var(--textcolor);
border-radius: .5rem;
font-weight: bold;

}

.reg-log-btn button.active{

background: var(--maincolor);
color: var(--secondcolor);

}


.login-form, .reg-form{

width: 100%;
height: auto;
display: none;
justify-content: center;
align-items: center;
flex-direction: column;

}

.login-form.active, .reg-form.active{

display: flex;

}


.login-form form, .reg-form form{

width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.login-form form button, .reg-form form button{

font-size: 1.5rem;
margin: 3rem 0 3rem 0;
cursor: pointer;
background: var(--secondcolor);
color: var(--textcolor-2);
padding: .5rem .8rem;
border-radius: .5rem;

}

.login-form form button:hover, .reg-form form button:hover{

background: var(--hover);

}

.fomrtext{

width: 100%;
height: auto;
text-align: left;
margin: 1rem 0 1rem 0;

}

.fomrtext h1{
    
font-size: 1.5rem;
    
}

.form-control {

position: relative;
margin: 20px 0 20px 0;
width: 100%;
position: relative;

}

.lookpassL, .lookpassR{

position: absolute;
top: 17%;
right: .5rem;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;  
width: 1.5rem;
height: 1.5rem;


}


.lookpassL img, .lookpassR img{

width: 100%;
height: 100%;

}


.form-control input {

background-color: transparent;
border: 0;
border-bottom: 2px var(--secondcolor) solid;
display: block;
width: 100%;
padding: 15px 0;
font-size: 18px;
color: var(--textcolor);

}

.form-control input:focus,
.form-control input:valid {

outline: 0;
border-bottom-color: var(--secondcolor);

}

.form-control label {

position: absolute;
top: 15px;
left: 0;
pointer-events: none;

}

.form-control label span {

display: inline-block;
font-size: 15px;
min-width: 5px;
color: var(--textcolor);
transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.form-control input:focus+label span,
.form-control input:valid+label span {

color: var(--textcolor);
transform: translateY(-30px);

}

.resPass{

width: 100%;
height: auto;
text-align: right;
margin-top: .5rem;

}

.resPass a{

color: var(--secondcolor);
font-size: .9rem;

}

.resPass a:hover{

color: var(--hover);

}

.configpass{

display: none;
margin-top: 10px;

}

.configpass p{

color: var(--textcolor);
font-size: .8rem;
margin: .3rem 0;

}


.configpass p {
    color: #999;
}


.configpass .valid {
    color: green;
}


.configpass .invalid {
    color: red;
}

.btnreg[disabled], .btnlog[disabled]{

opacity: 50%;
cursor: no-drop;

}

.btnreg[disabled]:hover, .btnlog[disabled]:hover{

background: var(--secondcolor);

}


.logmes{

color: red;
margin-top: 1rem;
font-size: 1.2rem;
height: 2rem;

}


.linemess{

position: fixed;
top: 10%;
right: 3%;
font-size: 1rem;
z-index: 7;
animation: opacity .5s ease-out forwards;
background: #f8d7da;
padding: .5rem 4rem 0 .5rem;
border-radius: 2rem; 
overflow: hidden;

}

.mesinfobox{

display: flex;
justify-content: center;
align-items: center;
margin-bottom: .5rem;

}

.mesinfobox i{

font-size: 1.5rem;
margin-left: .5rem;
width: 2.5rem;
height: 2.5rem;
line-height: 2.5rem;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;

}

.mesinfo{

margin-left: 1rem;

}

.mesinfo h2{

font-size: 1.3rem;
font-weight: bold;
margin-bottom: .3rem;

}


.mesinfo p{

font-size: 1rem;
font-weight: normal;

}


.linemess.success{

color: green;
border: solid .2rem rgba(0, 200, 0, 50%);
background: #abf7b2;

}

.linemess.success .mesinfobox i{

background: rgba(0, 200, 0, 60%);

}

.linemess.error{

color: red;
border: solid .2rem rgba(255, 0, 0, 50%);
background: #f7abb2;

}

.linemess.error .mesinfobox i{

background: rgba(255, 0, 0, 20%);

}

.linemess.success .timeline{

width: 100%;
height: 5px;
background: rgba(0, 200, 0, 50%);
animation: timeline 5s ease-out forwards;

}

.linemess.error .timeline{

width: 100%;
height: 5px;
background: rgba(255, 0, 0, 50%);
animation: timeline 5s ease-out forwards;

}

#mesclose{

top: 50%;
font-size: 2rem;
right: 15px;
transform: translate(0, -50%);

}

.linemess.success #mesclose{

color: rgba(0, 150, 0, 70%);

}

.linemess.error #mesclose{

color: rgba(255, 0, 0, 70%);

}
  
@keyframes opacity {

0% {

    opacity: 0;

}

100% {

    opacity: 100%;

}

}

@keyframes timeline {

0% {

    width: 100%;;

}

100% {

    width: 0%;

}

}


/* --------------------------------Profile */


.profelimenu{

width: 100%;
height: 100vh;
background: rgba(0, 0, 0, 60%);
backdrop-filter: blur(5px);
position: fixed;
top: 0;
left: 0;
z-index: 3;
display: none;

}


.profelimenu.active{

display: block;

}

.base{

width: 70%;
height: 80%;
background: var(--maincolor);
display: flex;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 1rem;
overflow: hidden;
z-index: 4;

}


.selectmenu{

width: 25%;
height: 100%;
box-shadow: 0 0 10px #000;

}

.profinfo{

width: 100%;
height: 20%;
border-bottom: var(--secondcolor) solid .2rem;
display: flex;
justify-content: center;
align-items: center;
color: var(--textcolor);

}


.profile-image{

width: 5rem;
height: 5rem;
border: var(--secondcolor) solid .2rem;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;

}

.profile-image img{

width: 100%;
height: 100%;
object-fit: cover;

}


.prof-name{

margin: 0 0 0 1rem;

}


.email-i{

font-size: .8rem;
margin-top: 1rem;

}


.profbtns{

width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.profbtns button, .logoutbtn a{

padding: 1.5rem 0;
color: var(--textcolor);
font-size: 1rem;
width: 100%;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
background: var(--maincolor);

}

.profbtns button:hover{

background: var(--hover-3);
color: var(--textcolor-2);

}

.profbtns button i, .logoutbtn a i{

margin-right: 1rem;  
font-size: 1.5rem; 
color: var(--secondcolor);

}

.logoutbtn a i{

color: red;

}

.logoutbtn{

width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: end;

}

.profbtns button:hover #spin{

animation: spin 1s ease-out forwards;

}

.profbtns button:hover #rotate-spin{

animation: rotate-spin 1s ease-out forwards;

}

.logoutbtn a:hover{

background: rgba(255, 0, 0, 30%);

}


@keyframes spin {

0% {

transform: rotate(0deg);

}

100% {

transform: rotate(720deg);

}


}

@keyframes rotate-spin {

0% {

transform: rotateY(0deg);

}

100% {

transform: rotateY(720deg);

}

}


.menu{

width: 75%;
height: 100%;
display: none;
background: var(--maincolor-2);

}

.menu.active{

display: flex;

}
/* -------------settings */

#settings-menu form{

width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;

}

.box-flex{

display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 15%;

}

#settings-menu .box{

width: 40%;
height: 100%;
color: var(--textcolor);
background: var(--maincolor);
padding: 1rem;
margin: 1rem;
display: flex;
justify-content: center;
align-items: center;
border-radius: 2rem;

}

.box.avatar h1{

font-size: 1rem;
margin-right: 2rem;
display: none;

}

.box.avatar h1.active{

display: block;

}

.avatarPre{

width: 5rem;
height: 5rem;
border-radius: 50%;
border: .2rem solid var(--secondcolor);
overflow: hidden;

}

.close-prew{

width: 5rem;
height: 5rem;
margin-right: 2rem;
position: relative;
display: none;

}

.close-prew i{

color: red;
cursor: pointer;

}

.close-prew.active{

display: block;

}

.avatar-del{

position: absolute;
top: 0;
right: -10px;

}

.avatarPre img{

width: 100%;
height: 100%;
object-fit: cover;

}

.input-file-row {
	display: inline-block;
}

.input-file {

position: relative;
display: inline-block;

}

.input-file span {

position: relative;
display: inline-block;
cursor: pointer;
outline: none;
text-decoration: none;
font-size: 14px;
vertical-align: middle;
color: var(--textcolor-2);
text-align: center;
border-radius: 4px;
background-color: var(--secondcolor);
line-height: 22px;
height: 40px;
padding: 10px 20px;
box-sizing: border-box;
border: none;
margin: 0;
transition: background-color 0.2s;

}

.input-file:hover span {

background-color: var(--hover);

}

.input-file input[type=file] {

position: absolute;
z-index: -1;
opacity: 0;
display: block;
width: 0;
height: 0;

}

.input-file input[type=file]:disabled + span {

background-color: #eee;

}
 
.input-file-list {

padding: 10px 0;

}

.input-file-list-item {

display: inline-block;
margin: 0 15px 15px;
width: 150px;
vertical-align: top;
position: relative;

}

.input-file-list-item img {

width: 150px;

}
.input-file-list-name {

text-align: center;
display: block;
font-size: 12px;
text-overflow: ellipsis;
overflow: hidden;

}

.input-file-list-remove {

color: #fff;
text-decoration: none;
display: inline-block;
position: absolute;
padding: 0;
margin: 0;
top: 5px;
right: 5px;
background: #ff0202;
width: 16px;
height: 16px;
text-align: center;
line-height: 16px;
border-radius: 50%;

}

.username-p span{

font-weight: bold;

}

.info-box, .password-c{

padding: 1rem;
width: calc(80% + 32px);
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-top: 2rem;
border-radius: 2rem;
background: var(--maincolor);

}

.info-box input, .password-c input{

width: 100%;
padding: .7rem 1rem;
font-size: 1rem;
background: #353535;
color: var(--textcolor);
border-radius: 2rem;
background: var(--maincolor);
box-shadow: 0 0 1.5rem rgba(0, 0, 0, 20%);

}

#probtn{

margin-top: 3rem;

}

#probtn span{

font-size: 1.3rem;

}

.input-l{
    
width: 40%;
display: flex;
justify-content: center;
flex-direction: column;
margin: 1rem;

}

.input-l label{

color: var(--textcolor);
font-size: 1rem;
margin-bottom: .5rem;
padding: 0 .5rem;

}

.password-c{

position: relative;
overflow: hidden;

}


.passwordC{

position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: var(--secondcolor);
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
z-index: 2;

}

.passwordC:hover{

background: var(--secondcolor);
opacity: 50%;

}


.passwordC p{

color: var(--textcolor);
font-weight: bold;

}


.passwordC.active{

display: none;

}


.setBtn{

background: var(--secondcolor);
font-size: 1.5rem;
color: var(--textcolor-2);
border-radius: .5rem;
padding: .7rem 1rem;
cursor: pointer;

}

.setBtn i{

margin-right: .5rem;

}

.setBtn:hover{

background: var(--hover);

}


/* --------------favorite */

#favoriti-menu{

padding: 2rem 2rem 0 2rem;
justify-content: top;
align-items: center;
flex-direction: column;

}

.fav-filter{

width: 90%;
height: auto;
background: var(--maincolor);
border-radius: .5rem;
padding: 1rem .5rem;
box-shadow: var(--shadow);
margin-top: 2rem;
display: flex;
justify-content: center;
align-items: center;

}


.filt-cont select {
    
appearance: none;
outline: 10px red;
box-shadow: none;
flex: 1;
padding: 0 1em;
color: var(--textcolor);
background-color: var(--maincolor-2);
background-image: none;
cursor: pointer;
font-weight: bold;
font-size: 1rem;
border-radius: .5rem;
margin: 0 2rem;

}

.filt-cont select option{

font-size: 1rem;

}

.select {

position: relative;
display: flex;
width: 20em;
height: 3em;
border-radius: .25em;
overflow: hidden;

}


.select::after {
content: '\25BC';
position: absolute;
top: 0;
right: 0;
padding: 1em;
background-color: var(--secondcolor);
transition: .25s all ease;
pointer-events: none;
}


.select:hover::after {

color: var(--maincolor);

}

#favoriti-menu .page-btn button{

background: var(--hover);
padding: .8rem 1rem;
font-size: 1rem;
font-weight: bold;
color: var(--textcolor);
cursor: pointer;
border-radius: 2rem;
margin: 0 .3rem;
text-align: center;

}

#favoriti-menu .page-btn button:hover{

background: var(--secondcolor);

}

.fav-container{

display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 1.5rem;

}

.fav-container h2{

background: var(--secondcolor);
color: var(--textcolor-2);
border-radius: .5rem;
padding: 1rem 1.5rem;
font-size: 1rem;

}


.fav-container .box{

width: 17rem;
height: 20rem;
box-shadow: 0 0 1.5rem rgba(0, 0, 0, 50%);
border-radius: 1rem;
overflow: hidden;
margin: 1rem 1rem;
text-align: center;
display: flex;
justify-content: top;
align-items: center;
flex-direction: column;

}

.fav-container .box img{

width: 100%;
height: 50%;
object-fit: cover;

}

.fav-container .box h1{

margin-top: 1rem;
font-size: 1.2rem;

}

.fav-container .box .cena{

width: 60%;
height: 1.5rem;

}


.fav-container .box p{

background: var(--secondcolor);
padding: .5rem 1rem;
margin-top: 3rem;
font-size: 1rem;
border-radius: 2rem;

}