.password-reset{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 70vh;
flex-direction: column;
}

.password-reset__back{
width: 30%;
margin-bottom: 2rem;
}

.password-reset__back a{
color: #7b7b7b;
font-weight: bold;
cursor: pointer;
}

.password-reset__back a:hover{
color: #3e3e3e;
}

.password-reset__back a i{
margin-right: .5rem;
}

.password-reset__form-container{
background: var(--maincolor);
width: 30%;
height: auto;
border-radius: 1rem;
padding: 2rem;
}

.password-reset__form-container p{
margin-top: 1rem;
opacity: 80%;
}

.password-reset__form{
margin-top: 3rem;
width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.password-reset__form .password-reset__input-group{
width: 100%;
height: auto;
}

.password-reset__form .password-reset__input-group label{
font-weight: bold;
font-size: 1.2rem;
}

.password-reset__form .password-reset__input-group input{
width: 100%;
padding: .7rem 1rem;
border-radius: .5rem;
border: .01rem solid #000;
background: var(--maincolor);
margin-top: .5rem;
font-size: 1.2rem;
}

.password-reset__form button{ 
background: var(--secondcolor);
border-radius: .5rem;
padding: .7rem 1rem;
font-size: 1.2rem;
cursor: pointer;
color: var(--textcolor-2);
font-weight: bold;
margin-top: 2rem;
width: 100%;
}

.password-reset__form button i{ 
margin-right: .5rem;
}


.password-reset__form button:hover{ 
background: var(--hover);
}