@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

*{

padding: 0%;
margin: 0%;
box-sizing: border-box;
font-family: "Kumbh Sans", serif;
text-decoration: none;
border: none;
outline: none;
transition: .2s linear;
letter-spacing: .2rem;

}


:root{

--maincolor: #f4f2e9;
--texstcolor: #000;
--dobcolor: #000;
--secondcolor: #ebb400;
--shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 30%);
--hover: rgba(235, 180, 51, 30%);

}

body{

background: var(--maincolor);

}

header{

padding: 2rem 12%;
display: flex;
justify-content: space-between;
align-items: center;
background: var(--maincolor);
width: 100%;
box-shadow: 0 0 1.5rem rgba(0, 0, 0, 50%);

}

.logo a{

font-size: 1.6rem;
color: var(--texstcolor);
font-weight: bold;

}

.logo a img{

width: auto;
height: 2rem;

}

.navmenu{

display: flex;
justify-content: center;
align-items: center;

}

.profset{

position: relative;

}

.proimage{

width: 3rem;
height: 3rem;
border: var(--secondcolor) solid .2rem;
border-radius: 50%;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;

}

.proimage img{

width: 100%;
height: auto;

}

.profmenu{

position: absolute;
top: 10rem;
left: 50%;
width: auto;
height: auto;
background: var(--maincolor);
transform: translate(-50%, -50%);
box-shadow: 0 0 10px #000;
z-index: 3;
display: none;
justify-content: center;
align-items: center;
flex-direction: column;

}

.profmenu.active{

display: flex;

}

.profmenu a, .profmenu button{

width: 100%;
color: var(--texstcolor);
text-align: center;
padding: .8rem 1rem;
display: flex;
justify-content: center;
align-items: center;
background: var(--maincolor);
cursor: pointer;
font-size: 1rem;

}

.profmenu a i, .profmenu button i{

color: var(--dobcolor);
margin-right: .3rem

}

.profmenu a:hover, .profmenu button:hover{

background: rgba(255, 180, 0, 30%);

}

.profmenu button:hover #spin{

animation: spin 1s ease-out forwards;

}

.profmenu button:hover #rotate-spin{

animation: rotate-spin 1s ease-out forwards;

}

#logout:hover{

background: rgba(255, 0, 0, 30%);

}

.btna{

margin: 0 .5rem;
background: none;
cursor: pointer;

}

.btn-box{

padding: .5rem .8rem;
background: var(--secondcolor);
position: relative;
overflow: hidden;
border-radius: 5rem;

}

.btn-line{

position: absolute;
width: 10rem;
height: 2rem;
top: 0rem;
left: -8rem;
background: var(--texstcolor);
opacity: 50%;
transform: rotate(-45deg);
transition: left .5s linear;

}

.btna:hover .btn-line{

left: 10rem;

}

.btna span{

color: var(--texstcolor);
font-size: 1rem;

}

footer{

display: flex;
justify-content: center;
align-items: center;
background: var(--maincolor);
color: var(--texstcolor);
padding: 3rem 15%;

}

.footerbox{

display: flex;
justify-content: center;
align-items: center;

}

.footerbox .box{

text-align: center;
margin: 4rem;

}

/* ---------------------------------------modal */

.logmodal{

background: rgba(0, 0, 0, 80%);
width: 100%;
height: 100%;
z-index: 7;
position: fixed;
top: 0;
right: 0;
display: none;

}

.logmodal.active{

display: block;

}


.log-reg{

width: 35rem;
height: auto;
background: var(--maincolor);
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border: var(--pink) .3rem solid;
display: flex;
align-items: center;
flex-direction: column;
position: relative;

}

.closemodal, .close-ml{

color: var(--texstcolor);
position: absolute;
font-size: 1.5rem;
top: 1rem;
right: 1rem;
cursor: pointer;
color: red;

}

.log-reg h2{

background: var(--secondcolor);
color: var(--texstcolor);
padding: 1rem;
font-size: 2rem;

}


.reg-log-btn{

display: flex;
margin-top: 4rem;
font-size: 2rem;
position: relative;

}

.reg-log-btn button{

background: rgba(0, 0, 0, 0%);
cursor: pointer;
font-size: 1.5rem;
z-index: 1;
margin: 0 .5rem;   
color: var(--texstcolor);

}

.reg-log-btn p{

z-index: 1;
color: var(--texstcolor);

}


.reg-log-btn .cube{

height: 100%;
background: var(--secondcolor);
position: absolute;
z-index: 0;

}



.login-form, .reg-form{

margin-top: 1rem;
width: 100%;
height: auto;
display: none;
justify-content: center;
align-items: center;
flex-direction: column;

}

.login-form.active, .reg-form.active{

display: flex;

}


.login-form form, .reg-form form{

width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}



.form-control {

position: relative;
margin: 20px 0 40px 0;
width: 60%;

}

.form-control input {

background-color: transparent;
border: 0;
border-bottom: 2px var(--dobcolor) solid;
display: block;
width: 100%;
padding: 15px 0;
font-size: 18px;
color: var(--texstcolor);

}

.form-control input:focus,
.form-control input:valid {

outline: 0;
border-bottom-color: var(--secondcolor);

}

.form-control label {

position: absolute;
top: 15px;
left: 0;
pointer-events: none;

}

.form-control label span {

display: inline-block;
font-size: 15px;
min-width: 5px;
color: var(--texstcolor);
transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.form-control input:focus+label span,
.form-control input:valid+label span {

color: var(--secondcolor);
transform: translateY(-30px);

}

.configpass{

display: none;
margin-top: 10px;

}

.configpass p{

color: var(--texstcolor);
font-size: .8rem;
margin: .3rem 0;

}


.configpass p {
    color: #999;
}


.configpass .valid {
    color: green;
}


.configpass .invalid {
    color: red;
}

.btnlog, .btnreg{

margin-top: 2rem;
margin-bottom: 3rem;

}

.btnlog span, .btnreg span{

font-size: 1.5rem;

}

.btnreg[disabled], .btnlog[disabled]{

opacity: 50%;

}


.btnreg[disabled]:hover .btn-line, .btnlog[disabled]:hover .btn-line{

left: -20rem;

}


.logmes, .regmes{

color: red;
margin: 1rem 0 1rem 0;
font-size: 1.2rem;
height: 2rem;

}


.linemess{

position: fixed;
top: 10%;
right: 3%;
font-size: 1rem;
z-index: 7;
animation: opacity .5s ease-out forwards;
background: #f8d7da;
padding: .5rem 4rem 0 .5rem;
border-radius: 2rem; 
overflow: hidden;

}

.mesinfobox{

display: flex;
justify-content: center;
align-items: center;
margin-bottom: .5rem;

}

.mesinfobox i{

font-size: 1.5rem;
margin-left: .5rem;
width: 2.5rem;
height: 2.5rem;
line-height: 2.5rem;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;

}

.mesinfo{

margin-left: 1rem;

}

.mesinfo h2{

font-size: 1.3rem;
font-weight: bold;
margin-bottom: .3rem;

}


.mesinfo p{

font-size: 1rem;
font-weight: normal;

}


.linemess.success{

color: green;
border: solid .2rem rgba(0, 200, 0, 50%);
background: #abf7b2;

}

.linemess.success .mesinfobox i{

background: rgba(0, 200, 0, 60%);

}

.linemess.error{

color: red;
border: solid .2rem rgba(255, 0, 0, 50%);
background: #f7abb2;

}

.linemess.error .mesinfobox i{

background: rgba(255, 0, 0, 20%);

}

.linemess.success .timeline{

width: 100%;
height: 5px;
background: rgba(0, 200, 0, 50%);
animation: timeline 5s ease-out forwards;

}

.linemess.error .timeline{

width: 100%;
height: 5px;
background: rgba(255, 0, 0, 50%);
animation: timeline 5s ease-out forwards;

}

#mesclose{

top: 50%;
font-size: 2rem;
right: 15px;
transform: translate(0, -50%);

}

.linemess.success #mesclose{

color: rgba(0, 150, 0, 70%);

}

.linemess.error #mesclose{

color: rgba(255, 0, 0, 70%);

}
  
@keyframes opacity {

0% {

    opacity: 0;

}

100% {

    opacity: 100%;

}

}

@keyframes timeline {

0% {

    width: 100%;;

}

100% {

    width: 0%;

}

}


/* --------------------------------Profile */


.profelimenu{

width: 100%;
height: 100vh;
background: rgba(0, 0, 0, 80%);
position: fixed;
top: 0;
left: 0;
z-index: 6;
display: none;

}


.profelimenu.active{

display: block;

}

.base{

width: 70%;
height: 80%;
background: var(--maincolor);
display: flex;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}


.selectmenu{

width: 25%;
height: 100%;
box-shadow: 0 0 10px #000;

}

.profinfo{

width: 100%;
height: 20%;
border-bottom: var(--secondcolor) solid .2rem;
display: flex;
justify-content: center;
align-items: center;
color: var(--texstcolor);

}


.profile-image{

width: 5rem;
height: 5rem;
border: var(--secondcolor) solid .2rem;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;

}

.profile-image img{

width: 100%;
height: auto;

}


.prof-name{

margin: 0 0 0 1rem;

}


.email-i{

font-size: .8rem;
margin-top: 1rem;

}


.profbtns{

width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.profbtns a, .logoutbtn a{

padding: 1.5rem 0;
color: var(--texstcolor);
font-size: 1;
width: 100%;
text-align: center;
display: flex;
justify-content: center;
align-items: center;

}

.profbtns a:hover{

background: rgba(255, 180, 0, 30%);

}

.profbtns a i, .logoutbtn a i{

margin-right: 1rem;  
font-size: 1.5rem; 
color: var(--secondcolor);

}

.logoutbtn a i{

color: red;

}

.logoutbtn{

width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: end;

}

.profbtns a:hover #spin{

animation: spin 1s ease-out forwards;

}

.profbtns a:hover #rotate-spin{

animation: rotate-spin 1s ease-out forwards;

}

.logoutbtn a:hover{

background: rgba(255, 0, 0, 30%);

}


@keyframes spin {

0% {

transform: rotate(0deg);

}

100% {

transform: rotate(720deg);

}


}

@keyframes rotate-spin {

0% {

transform: rotateY(0deg);

}

100% {

transform: rotateY(720deg);

}

}


.settings-menu{

width: 75%;
height: 100%;

}


.settings-menu form{

width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;

}


.settings-menu .box{

width: 40%;
height: 100%;
box-shadow: 0 0 1.5rem rgba(0, 0, 0, 10%);
color: var(--texstcolor);
padding: 1rem;
margin: 1rem;
display: flex;
justify-content: center;
align-items: center;
border-radius: 2rem;

}

.box-flex{

display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 15%;

}

.avatar-pre{

width: 5rem;
height: 5rem;
margin-right: 2rem;
border-radius: 50%;
border: .2rem solid var(--secondcolor);

}

.avatar button{

padding: .5rem .8rem;
background: var(--secondcolor);
color: var(--texstcolor);
cursor: pointer;

}

.username-p span{

font-weight: bold;

}

.info-box, .password-c{

padding: 1rem;
width: calc(80% + 32px);
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-top: 2rem;
border-radius: 2rem;
box-shadow: 0 0 1.5rem rgba(0, 0, 0, 10%);

}

.info-box input, .password-c input{

width: 100%;
padding: .7rem 1rem;
font-size: 1rem;
background: #353535;
color: var(--texstcolor);
border-radius: 2rem;
background: var(--maincolor);
box-shadow: 0 0 1.5rem rgba(0, 0, 0, 20%);

}

#probtn{

margin-top: 3rem;

}

#probtn span{

font-size: 1.3rem;

}

.input-l{
    
width: 40%;
display: flex;
justify-content: center;
flex-direction: column;
margin: 1rem;

}

.input-l label{

color: var(--texstcolor);
font-size: 1rem;
margin-bottom: .5rem;
padding: 0 .5rem;

}

.password-c{

position: relative;
overflow: hidden;

}


.passwordC{

position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgba(235, 180, 0, 100%);
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
z-index: 2;

}

.passwordC:hover{

background: rgba(235, 180, 0, 70%);

}


.passwordC p{

color: var(--texstcolor);
font-weight: bold;

}


.passwordC.active{

display: none;

}