.filter{

background: var(--maincolor-2);
display: flex;
justify-content: center;
align-items: center;

}

.filter-menu{

width: 100%;
padding: 2rem 10% 0 10%;
height: auto;
box-shadow: 0 0 1.5rem rgba(0, 0, 0, 30%);
background: var(--maincolor);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 6rem;

}

.select-Container{

display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;

}

.select-Container .box{

margin: 1rem;
padding: 0%;

}

.filt-cont select {
    
appearance: none;
outline: 10px red;
box-shadow: none;
flex: 1;
padding: 0 1em;
color: var(--textcolor);
background-color: var(--maincolor-2);
/* border: .1rem solid var(--textcolor); */
background-image: none;
cursor: pointer;
font-weight: bold;
font-size: 1rem;
border-radius: .5rem;

}

.filt-cont select option{

font-size: 1rem;

}

.select {

position: relative;
display: flex;
width: 20em;
height: 3em;
border-radius: .25em;
overflow: hidden;

}


.select::after {
content: '\25BC';
position: absolute;
top: 0;
right: 0;
padding: 1em;
background-color: var(--secondcolor);
transition: .25s all ease;
pointer-events: none;
}


.select:hover::after {

color: var(--maincolor);

}

.min-max-filter{

width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin: 3rem 0 1rem 0;

}

.filter-box{

width: 20%;
margin: 0 2rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.fil-box-nos{

width: 100%;
height: auto;
text-align: left;

}

.fil-box-nos h1{

color: var(--textcolor);
font-size: 1.3rem;
margin: 0 .5rem 1rem .5rem;

}

    
.price-input{

display: flex;
justify-content: center;
align-items: center;

}
    
.price-input input{

padding: .7rem 1rem;
font-size: 1.2rem;
width: 40%;
margin: 0 .5rem;
text-align: left;
-moz-appearance: none;
border-radius: .5rem;
background: var(--maincolor-2);


}

.price-input p{

font-size: 1.3rem;
font-weight: bold;

}
    
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{

-webkit-appearance: none;

}


.radio-filter {

width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin: 4rem 0 4rem 0;

}

.radio-filter .box {

color: var(--textcolor);
margin: 0 4rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 25%;

}


.rad-fil-nos{

width: 100%;
height: auto;
text-align: left;

}

.rad-fil-nos h1{

font-size: 1.3rem;
margin-bottom: 1rem;

}

.wrapper {

display: inline-flex;
height: 4rem;
width: 100%;
align-items: center;
justify-content: space-evenly;
padding: 10px 5px;
border-radius: .5rem;
background: var(--maincolor-2);

}

.wrapper .option {

background: #fff;
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;
margin: 0 5px;
cursor: pointer;
padding: 0 10px;
border-radius: .5rem;

}

.wrapper .option .dot {

height: 15px;
width: 15px;
background: #d9d9d9;
border-radius: 50%;
position: relative;

}

.wrapper .option .dot::before {

position: absolute;
content: "";
top: 4px;
left: 4px;
width: 7px;
height: 7px;
background: var(--secondcolor);
border-radius: 50%;
opacity: 0;
transform: scale(1.5);
transition: all 0.3s ease;

}

input[type="radio"] {

display: none;

}


input[id="dtp-option-1"]:checked ~ .dtp-option-1,
input[id="dtp-option-2"]:checked ~ .dtp-option-2,
input[id="dtp-option-3"]:checked ~ .dtp-option-3,
input[id="jauda-option-1"]:checked ~ .jauda-option-1,
input[id="jauda-option-2"]:checked ~ .jauda-option-2,
input[id="nobraukums-option-1"]:checked ~ .nobraukums-option-1,
input[id="nobraukums-option-2"]:checked ~ .nobraukums-option-2 {

border-color: var(--secondcolor);
background: var(--secondcolor);

}

input[id="dtp-option-1"]:checked ~ .dtp-option-1 .dot,
input[id="dtp-option-2"]:checked ~ .dtp-option-2 .dot,
input[id="dtp-option-3"]:checked ~ .dtp-option-3 .dot,
input[id="jauda-option-1"]:checked ~ .jauda-option-1 .dot,
input[id="jauda-option-2"]:checked ~ .jauda-option-2 .dot,
input[id="nobraukums-option-1"]:checked ~ .nobraukums-option-1 .dot,
input[id="nobraukums-option-2"]:checked ~ .nobraukums-option-2 .dot {

background: #fff;

}

input[id="dtp-option-1"]:checked ~ .dtp-option-1 .dot::before,
input[id="dtp-option-2"]:checked ~ .dtp-option-2 .dot::before,
input[id="dtp-option-3"]:checked ~ .dtp-option-3 .dot::before,
input[id="jauda-option-1"]:checked ~ .jauda-option-1 .dot::before,
input[id="jauda-option-2"]:checked ~ .jauda-option-2 .dot::before,
input[id="nobraukums-option-1"]:checked ~ .nobraukums-option-1 .dot::before,
input[id="nobraukums-option-2"]:checked ~ .nobraukums-option-2 .dot::before {

opacity: 1;
transform: scale(1);

}

.wrapper .option span {

font-size: 1rem;
color: #808080;

}

input[id="dtp-option-1"]:checked ~ .dtp-option-1 span,
input[id="dtp-option-2"]:checked ~ .dtp-option-2 span,
input[id="dtp-option-3"]:checked ~ .dtp-option-3 span,
input[id="jauda-option-1"]:checked ~ .jauda-option-1 span,
input[id="jauda-option-2"]:checked ~ .jauda-option-2 span,
input[id="nobraukums-option-1"]:checked ~ .nobraukums-option-1 span,
input[id="nobraukums-option-2"]:checked ~ .nobraukums-option-2 span {

color: #fff;

}


.add-Filter{
width: 100%;
height: 4rem;
border-top: .1rem solid var(--gray);
display: flex;
justify-content: center;
align-items: center;
}

.box-Container{
width: 60%;
height: 100%;
padding: 1rem;
display: flex;
justify-content: center;
align-items: center;
}

.box-Container .box{
width: 50%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.add-Filter .box button{
background: var(--secondcolor);
color: var(--textcolor-2);
padding: .7rem 1rem;
border-radius: .5rem;
cursor: pointer;
font-size: 1rem;
}

.add-Filter .box button i{
margin-right: .5rem;
}


.add-Filter .box button:hover{
background: var(--hover);
}


.offer-buttons{
padding: 5rem 10% 0 10%;
display: flex;
justify-content: center;
align-items: center;
}

.offer-buttons button{
padding: .7rem 1rem;
background: var(--secondcolor);
border-radius: .5rem;
color: var(--textcolor-2);
font-size: 1rem;
margin: 0 .5rem;
cursor: pointer;
opacity: 60%;
}

.offer-buttons button:hover{
background: var(--hover);
opacity: 100%;
}

.offer-buttons button.active{
opacity: 100%;
}

.offer-buttons button.active:hover{
background: var(--secondcolor);
cursor: default;
}

.offers{

background: var(--maincolor-2);
padding: 3rem 10%;

}

#carsContainer h2{

padding: .7rem 1rem;
background: var(--secondcolor);
color: var(--textcolor-2);
font-size: 1.2rem;
border-radius: .5rem;
margin: 1rem 0 3rem 0;

}


.offerbox{

display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;

}

.carsbox{

width: 75%;
height: 25rem;
box-shadow: 0 0 1.5rem rgba(0, 0, 0, 30%);
margin: 2rem 0;
display: flex;
position: relative;
border-radius: 1rem;
overflow: hidden;

}


.carinfo{

width: 60%;
display: flex;
align-items: center;
flex-direction: column;
margin-top: 1rem;

}

.carNosFlex{

display: flex;
justify-content: space-between;
align-items: center;
height: auto;
width: 100%;
margin-bottom: 1rem;

}

.car-foto{

width: 40%;
height: 25rem;
position: relative;
overflow: hidden;
display: flex;
justify-content: center;

}

.cblink{

position: absolute;
width: 100%;
height: 100%;
opacity: 0;
z-index: 1;
cursor: pointer;

}

.photos-container {

display: flex;
transition: transform 0.5s ease-in-out;
align-items: center;
width: 120%;
height: 100%;

}


.photos-container img{

width: 100%;
height: 100%;
object-fit: cover;

}

.photobtn{

position: absolute;
bottom: 10%;
left: 50%;
transform: translate(-50%, 0);
display: flex;
justify-content: center;
align-items: center;
z-index: 3;

}

.photobtn button{

width: 1.5rem;
height: 1.5rem;
border-radius: 50%;
background: var(--maincolor);
margin: 0 .5rem;
cursor: pointer;
opacity: 80%;
z-index: 2;

}

.photobtn button:hover{

background: var(--hover-2);

}

.photobtn button.active{

background: var(--secondcolor);
opacity: 100%;

}


.carNosakums{

margin: 0 0 0 1rem;

}

.carNosakums h3{

font-size: 2rem;

}

.carNosakums p{

font-size: 1.5rem;

}

.gads-fav{

display: flex;
justify-content: left;
align-items: center;

}

.favorits{

margin-left: .5rem;
display: flex;
justify-content: center;
align-items: center;

}

.favorits i{

font-size: 1.5rem;  
cursor: pointer;  
background: var(--maincolor-2);

}


.fav{

color: #ebb400;

}


.carCena p{

font-size: 1.5rem;
margin-right: 1.5rem;
background: var(--secondcolor);
padding: .5rem;
border-radius: .5rem;
color: var(--textcolor-2);

}

.infotable{

width: 90%;
height: auto;
border: .2rem solid var(--secondcolor);
margin: 2rem 1rem 0 1rem;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 1rem;
border-radius: 1rem;

}


.colon1, .colon2{

width: 50%;

}

.info-icon{

display: flex;
justify-content: left;
align-items: center;
height: auto;
margin: 1rem 0;

}


.info-icon img{

width: 2rem;
height: 2rem;
margin-right: 1rem;

}

.info-icon p{

font-size: 1rem;
letter-spacing: 1px;

}

.sludinajumabtn{

width: 100%;
background: var(--textcolor);
display: flex;
justify-content: center;
align-items: center;
padding: 3rem 0 0 0;

}

.sludbtn{

background: var(--textcolor);
margin: 0;

}


.slud-btn-box{

background: var(--maincolor);
font-size: 1.5rem;
display: flex;
justify-content: center;
align-items: center;
padding: 1rem 1rem;

}

.slud-btn-box:hover{

background: rgba(255, 87, 51, 30%);

}

.slud-btn-box:hover span{

color: var(--maincolor);

}

.slud-btn-box i{

color: var(--secondcolor);

}

.slud-btn-box:hover i{

animation: rot 1s ease-out forwards;

}


@keyframes rot {

0% {

    transform: rotate(0);

}

100% {

    transform: rotate(720deg);

}
}

.slud-btn-box span{

font-size: 1rem;
margin-left: 1rem;

}
