.car-filter{
background: var(--maincolor-2);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.car-filter__title{
font-size: 2rem;
margin-top: 3rem;
color: var(--textcolor);
}

.car-filter__subtitle{
margin-top: 1.3rem;
color: var(--textcolor);
opacity: 80%;
}

.car-filter__form{
width: 100%;
padding: 2rem 10% 0 10%;
height: auto;
box-shadow: 0 0 1.5rem rgba(0, 0, 0, 30%);
background: var(--maincolor);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 6rem;
}

/* -------------------------------------------Select */

.car-filter__select-group{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 100%;
}

.car-filter__select-group .car-filter__select-box{
width: 20%;
height: 3rem;
margin: 1rem;
}

.filt-cont{
width: 100%;
height: 100%;
color: var(--textcolor);
background-color: var(--maincolor-2);
font-weight: bold;
border-radius: .5rem;
position: relative; 
}

.filt-cont select{
width: 100%;
height: 100%;
padding: 0 3rem 0 1rem; 
margin: 0;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
background-color: transparent;
border: none;
cursor: pointer; 
}

.box-arrow{
position: absolute;
background: var(--secondcolor);
width: 3rem;
height: 100%;
top: 0;
right: 0;
border-bottom-right-radius: .5rem;
border-top-right-radius: .5rem;
display: flex;
justify-content: center;
align-items: center;
font-size: 1rem;
pointer-events: none; 
}

.filt-cont:hover .box-arrow{
color: var(--textcolor-2); 
}

.filt-cont select option{
font-size: 1rem;
}

/* -------------------------------------------Range */

.car-filter__range-group{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
margin-top: 2rem;
}

.car-filter__range-box{
width: 20%;
margin: 0 1rem;
}

.car-filter__range-label{
width: 100%;
height: auto;
text-align: left;
}

.car-filter__range-label h1{
color: var(--textcolor);
font-size: 1rem;
margin: 0 0 1rem 0;
}
    
.car-filter__range-input {
display: flex;
align-items: center;
}

.car-filter__range-input input{
padding: .5rem .7rem;
width: 50%;
font-size: 1rem;
text-align: left;
border-radius: .5rem;
background: var(--maincolor-2);
flex-grow: 1; 
box-sizing: border-box
}

.car-filter__range-input span{
margin: 0 0.5rem; 
}
  
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
-webkit-appearance: none;
}

/* -------------------------------------------radio */

.car-filter__radio-group{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin: 4rem 0 4rem 0;
}

.car-filter__radio-box {
color: var(--textcolor);
margin: 0 1rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 20%;
}

.car-filter__radio-title{
width: 100%;
height: auto;
text-align: left;
}

.car-filter__radio-title h1{
font-size: 1rem;
margin-bottom: 1rem;
}

.wrapper {
display: inline-flex;
height: 3rem;
width: 100%;
align-items: center;
justify-content: space-evenly;
padding: 10px 5px;
border-radius: .5rem;
background: var(--maincolor-2);
}

.wrapper .option {
background: #fff;
height: 100%;
width: 50%;
display: flex;
align-items: center;
justify-content: space-evenly;
margin: 0 5px;
cursor: pointer;
padding: 0 .5rem;
border-radius: .5rem;
}

.wrapper .option .dot {
height: 15px;
width: 15px;
background: #d9d9d9;
border-radius: 50%;
position: relative;
}

.wrapper .option .dot::before {
position: absolute;
content: "";
top: 4px;
left: 4px;
width: 7px;
height: 7px;
background: var(--secondcolor);
border-radius: 50%;
opacity: 0;
transform: scale(1.5);
transition: all 0.3s ease;
}

input[type="radio"] {
display: none;
}


input[id="dtp-option-1"]:checked ~ .dtp-option-1,
input[id="dtp-option-2"]:checked ~ .dtp-option-2,
input[id="dtp-option-3"]:checked ~ .dtp-option-3,
input[id="jauda-option-1"]:checked ~ .jauda-option-1,
input[id="jauda-option-2"]:checked ~ .jauda-option-2,
input[id="nobraukums-option-1"]:checked ~ .nobraukums-option-1,
input[id="nobraukums-option-2"]:checked ~ .nobraukums-option-2 {
border-color: var(--secondcolor);
background: var(--secondcolor);
}

input[id="dtp-option-1"]:checked ~ .dtp-option-1 .dot,
input[id="dtp-option-2"]:checked ~ .dtp-option-2 .dot,
input[id="dtp-option-3"]:checked ~ .dtp-option-3 .dot,
input[id="jauda-option-1"]:checked ~ .jauda-option-1 .dot,
input[id="jauda-option-2"]:checked ~ .jauda-option-2 .dot,
input[id="nobraukums-option-1"]:checked ~ .nobraukums-option-1 .dot,
input[id="nobraukums-option-2"]:checked ~ .nobraukums-option-2 .dot {
background: #fff;
}

input[id="dtp-option-1"]:checked ~ .dtp-option-1 .dot::before,
input[id="dtp-option-2"]:checked ~ .dtp-option-2 .dot::before,
input[id="dtp-option-3"]:checked ~ .dtp-option-3 .dot::before,
input[id="jauda-option-1"]:checked ~ .jauda-option-1 .dot::before,
input[id="jauda-option-2"]:checked ~ .jauda-option-2 .dot::before,
input[id="nobraukums-option-1"]:checked ~ .nobraukums-option-1 .dot::before,
input[id="nobraukums-option-2"]:checked ~ .nobraukums-option-2 .dot::before {
opacity: 1;
transform: scale(1);
}

.wrapper .option span {
font-size: 1rem;
color: #808080;
}

input[id="dtp-option-1"]:checked ~ .dtp-option-1 span,
input[id="dtp-option-2"]:checked ~ .dtp-option-2 span,
input[id="dtp-option-3"]:checked ~ .dtp-option-3 span,
input[id="jauda-option-1"]:checked ~ .jauda-option-1 span,
input[id="jauda-option-2"]:checked ~ .jauda-option-2 span,
input[id="nobraukums-option-1"]:checked ~ .nobraukums-option-1 span,
input[id="nobraukums-option-2"]:checked ~ .nobraukums-option-2 span {
color: #fff;
}

/* -------------------------------------------filter__actions */

.car-filter__actions{
width: 100%;
border-top: .1rem solid var(--gray);
display: flex;
justify-content: center;
align-items: center;
}

.car-filter__actions .box{
width: 20%;
height: 3rem;
margin: 1.5rem 1rem;
display: flex;
justify-content: center;
align-items: center;
}

.car-filter__actions .box a{
background: var(--secondcolor);
color: var(--textcolor-2);
border-radius: .5rem;
padding: .7rem 1rem;
cursor: pointer;
}

.slud-btn-box:hover i{
animation: rot 1s ease-out forwards;
}


@keyframes rot {

0% {

    transform: rotate(0);

}

100% {

    transform: rotate(720deg);

}
}

/* -------------------------------------------buttons izvade */

.offer-buttons{
padding: 5rem 10% 0 10%;
display: flex;
justify-content: center;
align-items: center;
}

.offer-buttons button{
padding: .7rem 1rem;
background: var(--secondcolor);
border-radius: .5rem;
color: var(--textcolor-2);
font-size: 1rem;
margin: 0 .5rem;
cursor: pointer;
opacity: 60%;
}

.offer-buttons button:hover{
background: var(--hover);
opacity: 100%;
}

.offer-buttons button.active{
opacity: 100%;
}

.offer-buttons button.active:hover{
background: var(--secondcolor);
cursor: default;
}

/* ------------------------------------------ izvade */

.car-offers{
background: var(--maincolor-2);
padding: 3rem 10%;
}

.car-offers__container h2{
padding: .7rem 1rem;
background: var(--secondcolor);
color: var(--textcolor-2);
font-size: 1.2rem;
border-radius: .5rem;
margin: 1rem 0 3rem 0;
}

.car-offers__container{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.carsbox{
width: 75%;
height: 25rem;
box-shadow: 0 0 1.5rem rgba(0, 0, 0, 30%);
margin: 2rem 0;
display: flex;
position: relative;
border-radius: 1rem;
overflow: hidden;
}

.carinfo{

width: 60%;
display: flex;
align-items: center;
flex-direction: column;
margin-top: 1rem;

}

.carNosFlex{

display: flex;
justify-content: space-between;
align-items: center;
height: auto;
width: 100%;
margin-bottom: 1rem;

}

.car-foto{

width: 40%;
height: 25rem;
position: relative;
overflow: hidden;
display: flex;
justify-content: center;

}

.cblink{

position: absolute;
width: 100%;
height: 100%;
opacity: 0;
z-index: 1;
cursor: pointer;

}

.photos-container {

display: flex;
transition: transform 0.5s ease-in-out;
align-items: center;
width: 120%;
height: 100%;

}


.photos-container img{

width: 100%;
height: 100%;
object-fit: cover;

}

.photobtn{

position: absolute;
bottom: 10%;
left: 50%;
transform: translate(-50%, 0);
display: flex;
justify-content: center;
align-items: center;
z-index: 3;

}

.photobtn button{

width: 1.5rem;
height: 1.5rem;
border-radius: 50%;
background: var(--maincolor);
margin: 0 .5rem;
cursor: pointer;
opacity: 80%;
z-index: 2;

}

.photobtn button:hover{

background: var(--hover-2);

}

.photobtn button.active{

background: var(--secondcolor);
opacity: 100%;

}


.carNosakums{

margin: 0 0 0 1rem;

}

.carNosakums h3{

font-size: 2rem;

}

.carNosakums p{

font-size: 1.5rem;

}

.gads-fav{

display: flex;
justify-content: left;
align-items: center;

}

.favorits{

margin-left: .5rem;
display: flex;
justify-content: center;
align-items: center;

}

.favorits i{

font-size: 1.5rem;  
cursor: pointer;  
background: var(--maincolor-2);

}


.fav{

color: #ebb400;

}


.carCena p{

font-size: 1.5rem;
margin-right: 1.5rem;
background: var(--secondcolor);
padding: .5rem;
border-radius: .5rem;
color: var(--textcolor-2);

}

.infotable{

width: 90%;
height: auto;
border: .2rem solid var(--secondcolor);
margin: 2rem 1rem 0 1rem;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 1rem;
border-radius: 1rem;

}


.colon1, .colon2{

width: 50%;

}

.info-icon{

display: flex;
justify-content: left;
align-items: center;
height: auto;
margin: 1rem 0;

}


.info-icon img{

width: 2rem;
height: 2rem;
margin-right: 1rem;

}

.info-icon p{

font-size: 1rem;
letter-spacing: 1px;

}



.loader-container{
width: 100%;
height: 40vh;
display: flex;
justify-content: center;
align-items: center;
}

.loader {
width: 7rem;
height: 7rem;
border-radius: 50%;
position: relative;
animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
content: "";
box-sizing: border-box;
position: absolute;
inset: 0px;
border-radius: 50%;
border: .5rem solid #FFF;
animation: prixClipFix 4s linear infinite ;
}
.loader::after{
transform: rotate3d(90, 90, 0, 180deg );
border-color: var(--secondcolor);
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
  0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
  50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
  75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}

.loader-text{
margin-left: 1rem;
font-size: 1.3rem;
font-weight: bold;
}
