#apskate{

padding: 5rem 20%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.car_info_a, .car_apraksts_a, .Car_foto_a, .price-Info-Section, .komplektacijas_section{

width: 100%;
height: auto;
border-radius: 1rem;
padding: 2rem;
box-shadow: 0 0 1.5rem rgba(0, 0, 0, 30%);
margin-top: 2rem;

}


.Car_foto_a{

display: flex;
justify-content: space-between;
align-items: center;

}

.slide-show{  
width: 55%;
display: flex;
align-items: center;
background: #000;
height: 25rem;
overflow: hidden;
border-radius: 1rem;
position: relative;
}

.slide-show img {
position: absolute;
top: 0;
left: 0;
display: none;
width: 100%;
height: 100%;
object-fit: cover;
transition: none;
cursor: zoom-in;
}

.slide-show img:first-of-type {
display: block;
}

.slide-btn{
background: rgba(0, 0, 0, 0.0);
height: 100%;
width: 20%;
position: absolute;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}

.slide-btn.main{
background: rgba(0, 0, 0, 0.0);
height: 80%;
width: 10%;
position: absolute;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}

.slide-btn i{
color: var(--secondcolor);
font-size: 2rem;
opacity: 0;
}

.slide-btn:hover{
background: rgba(0, 0, 0, 0.4);
backdrop-filter: blur(5px);
}

.slide-btn.main:hover{
background: rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
}

.slide-btn:hover i{
opacity: 100%;
}

.slide-btn.left{
top: 50%;
left: 0%;
transform: translate(0%, -50%);
}

.slide-btn.right{
top: 50%;
right: 0%;
transform: translate(0%, -50%);
}

.slide-show-rewiev{
position: fixed;
width: 100%;
height: 100%;
backdrop-filter: blur(5px);
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: rgba(0, 0, 0, 0.6);
z-index: 2;
display: none;
justify-content: center;
align-items: center;
flex-direction: column;
}

.slide-show-rewiev.active{
display: flex;
}

.no-scroll {
overflow: hidden;
height: 100vh;
}


.slider-main{
display: flex;
width: 55%;
height: 80%;
position: relative;
overflow: hidden;
}

.slider-main img {
position: absolute;
top: 0;
left: 0;
display: none;
width: 100%;
height: auto;
object-fit: cover;
transition: none;
}

.slider-main img:first-of-type {
display: block;
}

.ator-info{

width: 40%;
height: 100%;
display: flex;
justify-content: right;
flex-direction: column;

}


.skat-info{

display: flex;
justify-content: center;
align-items: center;
margin-top: 17rem;

}

.skat-info p{

margin: 0 .5rem;
opacity: 30%;

}


.autrobox{

display: flex;
justify-content: center;
align-items: center;
margin-top: 1rem;

}


.autor-avatar{

width: 5rem;
height: 5rem;
border-radius: 50%;
border: .2rem var(--secondcolor) solid;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;

}

.autor-avatar img{

width: 100%;
height: 100%;
object-fit: cover;

}

.autor-name-phone{

margin-right: 1rem;
text-align: right;

}

.chatBtn{

font-size: 1rem;
padding: .7rem 1rem;
border-radius: 0.5rem;
color: var(--textcolor-2);
background: var(--secondcolor);
cursor: pointer;

}


.chatBtn:hover{

background: var(--hover);

}

.car_info_a{

display: flex;
justify-content: center;

}

.info-table{

display: flex;
justify-content: center;
align-items: center; 
flex-wrap: wrap;
background: var(--secondcolor);
padding: 1rem 0;
border-radius: 1rem;

}


.table-block{

display: flex;
align-items: center;
width: 30%;
margin: .5rem;

}


.table-block img{

width: 3rem;
height: 3rem;
margin-right: 1rem;

}

.apskateSpan{

font-weight: bold;

}

.car_apraksts_a p{

margin: 1rem 0;

}

.car_apraksts_a ul{

margin: 1rem 0 1rem 2rem;

}

.car_apraksts_a li{

margin: .5rem 0;

}


.komplektacijas_section{

display: flex;
justify-content: space-between;

}


.komplektacijas_section .box{

display: flex;
justify-content: left;
flex-direction: column;

}

.komplektacijas-Title{

width: 100%;
display: flex;
justify-content: center;
align-items: center;
background: var(--secondcolor);
padding: .7rem 1rem;
border-radius: .5rem;
margin-bottom: 1rem;

}

.komplektacijas-Title h1{

color: var(--textcolor-2);
font-size: 1rem;

}

.komplektacijas_section .box p{

margin: .5rem 0;
font-size: .9rem;
opacity: 50%;

}

.komplektacijas_section .box p.active{

opacity: 100%;
font-weight: bold;

}

.slud-Rep{

margin-right: 1rem;
color: red;
font-size: 1.5rem;
cursor: pointer;

}



.info-container{
    
display: flex;
justify-content: space-between;
align-items: center;
width: 80%;

}


.price-Info-Section{

display: flex;
justify-content: center;
align-items: center;

}

.info-container p{

font-size: 1.2rem;

}

#price{

background: var(--secondcolor);
padding: .7rem 1rem;
border-radius: .5rem;
color: var(--textcolor-2);

}


.info-container p span{

font-weight: bold;    

}