@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
font-family: "Mulish", sans-serif;
text-decoration: none;
border: none;
outline: none;
transition: .2s linear;
letter-spacing: .1rem;
}

:root{
--maincolor: #f9f9f9;
--maincolor-2: #e4e4e4;
--textcolor: #000;
--textcolor-2: #f9f9f9;
--secondcolor: #0068d6;
--hover:  #0152a7;
--hover-2:  #649bd5;
--hover-3:  #acbfd3;
--gray: #999;
--shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 30%);
}

body{

background: linear-gradient(120deg, var(--secondcolor) 0%, var(--secondcolor) 50%, var(--maincolor-2) 51%, var(--maincolor-2) 100%);

}


header{

padding: 2rem 20%;
background: var(--maincolor);
box-shadow: var(--shadow);
display: flex;
justify-content: center;
align-items: center;

}


header a{

margin: 0 1rem;
color: #a5a5a5;
display: flex;
justify-content: center;
align-items: center;

}

header a:hover{

color: var(--secondcolor);

}

header a i{

margin-right: .5rem;

}


header a.in{

background: var(--secondcolor);
color: var(--textcolor-2);
padding: .7rem 1rem;
border-radius: .5rem;
cursor: default;

}

header a.logout{

color: red;
opacity: 40%;

}

header a.logout:hover{

color: red;
opacity: 100%;

}


#sakumlapa{

padding: 5rem 20%;

}


#sakumlapa .sakumlapa-Title{

width: 100%;
height: 15rem;
border-radius: 1rem;
padding: 1rem;
display: flex;
justify-content: center;
align-items: center;

}

.sakumlapa-Title .box{

background: var(--maincolor);
width: 50%;
height: 100%;
margin: 0 1rem;
border-radius: 1rem;
color: var(--secondcolor);
padding: 2rem;

}

